<div id="<%= dom_id travel %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Start in:</strong>
    <%= travel.start_in %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Finished in:</strong>
    <%= travel.finished_in %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End at:</strong>
    <%= travel.end_at %>
  </div>
</div>
