<% content_for :title, "New cost" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Novo custo</h1>

  <%= render "form", cost: @cost %>

  <%= link_to "Back to costs", costs_path %>
</div>
