<p style="color: green"><%= notice %></p>

<% content_for :title, "Empresas" %>


<div class="card">
  <div class="card-header space-between">
    Empresas
    <div class="button-header flex-end"><%= link_to "Nova Empresa", new_company_path %></div>
  </div>
  <div class="card-body">
    <% @companies.each do |company| %>
      <%= render company %>
    <% end %>
  </div>
</div>
